{% load static %}
<nav>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <div class="nav-container" style="display: flex; justify-content: space-between; align-items: center; width: 100%; max-width: 1200px; margin: 0 auto;">
        <h1><a href="/">DevChat</a></h1>
    {% if user.is_authenticated %}
         <div class="nav-links">
            <a href="#" class="btn btn-primary">Profile</a>
            <a href="{% url 'logout' %}" class="btn btn-danger">Logout</a>
    {%else%}
        <div class="nav-links">
            <a href="{% url 'login' %}" class="btn btn-primary">Login</a>
            <a href="{% url 'register' %}" class="btn btn-primary">Register</a>
        </div>
    {%endif%}
    </div>
</nav>
